@import "tailwindcss";

html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Arial, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  -webkit-tap-highlight-color: transparent;
}
